<br>
<h2>My Gift Lists</h2>
<hr>
    <div>
        <form class="form-inline my-2 my-lg-0" action="/gifts">
            <input class="form-control mr-sm-2" type="text" placeholder="Find a Gift" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
<br>
<% @lists.each do |list| %>
<ul>
<h4><%= link_to list.name, list_path(list) %></h4>
</ul>
<% end %>
<br>
<br>
<button><%=  link_to "Create a Gift List", new_gift_path %></button>


