<h1> Gift Results: </h1>

<% @gifts.each do |gift| %>

<h4><%= link_to gift.name, gift_path(gift) %> -- <%= gift.list.name %></h4>

<% end %>
<br>
<br>
    <button><%= link_to "My Lists", lists_path %></button>