<br>
<br>
<body>
    <% if @gift.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h2>
        <ul>
            <% @gift.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>


    <div class="mx-auto" style="width: 700px;">
        <h1>Create a New Gift List Or Add A Gift!</h1>
    </div>
<br>
<hr>
    <div class="mx-auto" style="width: 200px;">
        <%= render "form", gift: @gift %>
    </div>
</body>
<br>
<br>