<nav>
    <ul>
        <li>Home</li>
        <% if !user_signed_in?%>
            <li>Sign Up</li>
            <li>Log In</li>
        <% else%>
            <li> <%=link_to 'logout', destroy_user_session_path, method: 'delete' %></li>
        <% end %>
    </ul>


</nav>