<nav>
    <ul>
        <li>Home</li>
        <% if !user_signed_in?%>
            <li>Sign Up</li>
            <li>Log In</li>
        <% else%>
            <li>Log Out</li>
        <% end %>
    </ul>


</nav>